* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li i{
    margin-right: 15px;

}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
 
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;

}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;

    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
   
}


@keyframes imgg {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(-22px);
    }
}



.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
}

.col-2 h1 span{
    color: #ff004f;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #f20404;
}

.header{
    background: radial-gradient(#fff,#5960de);
}

.header .row{
    margin-top: 70px;

}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 25px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;

}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;

}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;

}

.col-4 p{
    font-size: 14px;

}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

.offer{
    background: radial-gradient(#fff,#5960de);
    margin-top: 80px;
    padding: 30px 0; 
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #555;
}

.testimonial{
    padding-top: 100px;

}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;


}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);

}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


.brands{
    margin: 100px auto;

}

.col-5{
    width: 160px;

}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter:grayscale(0);
}


.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 2px;
}


.footer p{
    color: #8a8a8a;

}

.footer h3{
    color: #fff;
    margin-bottom: 20px;

}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 25px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;

}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;

}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}




.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;

}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    align:center;
}

.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}


.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#5960de);
}

.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;

}

.form-container form{
    max-width: 300px;
    padding:  0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline:none;
}


#LoginForm{
    left: -300px;

}

#RegForm{
    left: 0;
}

.form a{
    font-size: 12px;
}

#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}


.cart-page{
    margin: 80px auto;

}

table{
    width: 100%;
    border-collapse: collapse;

}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td{
    padding: 10px 5px;

}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;

}


td a{
    color: #ff523b;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;

}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}


.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0;

}

.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;

}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;

}

input:focus{
    outline: none;
}

.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}


.small-img-row{
    display: flex;
    justify-content: space-between;

}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}




.payment{
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);




}


.payTitle{
    font-size: 20px;
    color: lightgray;

}

label{
    font-size: 14px;
    font-weight: 300;

}

.payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;


}

.payInput::placeholder{
    color: lightgray; 

}

.cardIcons{
    display: flex;

}

.cardIcon{
    margin-right: 10px;

}


.cardInfo{
    display: flex;
    justify-content: space-between;

}

.sm{
    width: 30%;

}

.payButton{
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    background-color: #ff523b;
    color: #fff;
    border: none;
    cursor: pointer;

}

.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color:gray;
    color: #fff;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
    

}

.sdr{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;

}

.sdr:after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#fff,#5960de);
    background-size: cover;
    z-index: -1;
    filter:blur(50px);


}

.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);


}

.left{
    height: 100%;
    background: url("images/sss.png") no-repeat center;
    background-size: cover;



}

.right{
    padding: 25px 40px;

}

.field{
   width: 100%;
   padding: 0.5rem 1rem;
   outline: none;
   border: 2px solid rgba(0,0,0,0);
   background-color: rgba(230,230,230,0.6);
   font-size: 1.1rem;
   margin-bottom: 22px;
   transition: 3s;

}

.field:hover{
    background-color: rgba(0,0,0,0.1);

}

.field.focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.47);

}

.area{
    min-height: 150px;

}


.sbtn{
   width: 100%;
   padding: 0.5rem 1rem;
   font-size: 1.1rem;
   background-color: #ff523b;
   cursor: pointer;
   outline: none;
   border: none;
   color: #fff;
   transition: -3s;

}

.sbtn:hover{
    background-color: #5960de;

}


.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;

}




.content-abouts{
    float: left;
    width: 55%;
    
    

}

.image-section{
    float: right;
    width: 40%;

}

.image-section img{
    width: 100%;
    height: auto;

    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes imgg {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(-22px);
    }
}


.content-abouts .tle{
    text-transform: uppercase;
    font-size: 28px;
    
    


}

.content-abouts .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 19px;
    
}

.content-abouts .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.content-abouts .social{
    margin-top: 40px;

}

.content-abouts .social i{
    color: #B2BEB5;
    font-size: 30px;
    padding: 0 10px;

}

.content-abouts .social i:hover{
    color: #ff523b;
}











#portfolio{
    padding: 50px 0;

}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #5b7be2);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3{
    font-weight: 500;
    margin-bottom: 25px;

}

.layer a{
    margin-top: 20px;
    color: #5b7be2;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;

}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #5b7be2;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--primary-color);
    transition: backgroud 0.5s;
}

.btn:hover{
    background: #5b7be2;

}


.work_filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}


.work_item{
    cursor: pointer;
    color: #5b7be2;
    padding: .25rem .75rem;
    border-radius: .5rem;


}

.active-work{
    background-color: #5b7be2;
    color: #0b0b0b;
}



















