
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        background: radial-gradient(#fff,#5960de);
    background-position: center;
    background-size: cover;
    text-align: center;
   
}

.form-box {
    
    
    
    background: radial-gradient(#fff,#b3b4cd);
    border: 4px solid rgba(220, 238, 78, 0.848);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    
    justify-content: center;
    align-items: center;

    
    padding: 40px;
    
    width: 50%;
    min-width: 350px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 15px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    
    font-size: 20px;

    color: rgba(26, 26, 26, 0.953);
    text-align: left;
    
    font-weight: 550;
    margin-top: 4%;
    
   
    
}

h1{color: #d8490c;

}